<section id="about" class="about-area ptb-100 bg-image">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="row about-image">
                    <div class="col-6 col-lg-6 col-md-6">
                        <div class="image">
                            <img src="assets/img/about-1.jpg" alt="about">
                        </div>
                    </div>

                    <div class="col-6 col-lg-6 col-md-6">
                        <div class="image">
                            <img src="assets/img/about-2.jpg" alt="about">
                        </div>
                    </div>

                    <div class="col-6 col-lg-6 col-md-6">
                        <div class="image mt-30">
                            <img src="assets/img/about-3.jpg" alt="about">
                        </div>
                    </div>

                    <div class="col-6 col-lg-6 col-md-6">
                        <div class="image mt-30">
                            <img src="assets/img/about-4.jpg" width="610" height="640" alt="about">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span>About Boost</span>
                    <h2>With Passion,<b class="text-dark">Integrity,</b> & Teamwork, we can make anything happen!</h2>
                    <p>
                        We specialize in providing you affordable and effective outsource solutions for today’s global market.
                    </p>
                    <ul>
                        <li>Voice</li>
                        <li>Email</li>
                        <li>IVR</li>
                        <li>SMS</li>
                        <li>Social</li>
                        <li>Text</li>
                    </ul>
                    <p>
                        In order to deliver the best customer experience and results possible on behalf of our clients, We always strive for the right technology, so our teams can perform at the top of their game.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>