<section class="faq-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>HISTORY</span>
            <h2>These Are The Positions Requested By You.</h2>
            <p>This is the list of applications in which you've been interested recently.</p>
        </div>
        <div class="row justify-content-center">
            <div class=" col-lg-8 col-md-12">
                <div class="faq-accordion accordion" id="faqAccordion">
                    <div class="accordion-item" *ngFor="let application of applications">
                        <div class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#'+application.positionId" aria-expanded="true" [attr.aria-controls]="application.positionId">
                                {{ application.positionTitle | titlecase}} <i class="icofont-dotted-down"></i>
                            </button>
                        </div>
                        <div [id]="application.positionId" class="accordion-collapse collapse show" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <ul>
                                    <li>
                                        <span class="fw-bold">Application Date</span>
                                        <i class="icofont-long-arrow-right mx-1"></i>
                                        <span style="font-size: 14px;">{{ application.postitionApplicationDate | titlecase }}</span>
                                    </li>
                                    <li>
                                        <span class="fw-bold">Company</span>
                                        <i class="icofont-long-arrow-right mx-1"></i>
                                        <span style="font-size: 14px;">{{ application.positionCompany | titlecase }}</span>
                                    </li>
                                    <li>
                                        <span class="fw-bold">Full Address</span>
                                        <i class="icofont-long-arrow-right mx-1"></i>
                                        <span style="font-size: 14px;">
                                           {{ application.positionAddress | fullAddress: application.positionCity: application.positionCountry | titlecase}}
                                        </span>
                                    </li>
                                    <li>
                                        <span class="fw-bold">Sector</span>
                                        <i class="icofont-long-arrow-right mx-1"></i>
                                        <span style="font-size: 14px;">{{ application.positionSector | titlecase }}</span>
                                    </li>
                                    <li>
                                        <span class="fw-bold">Job Type</span>
                                        <i class="icofont-long-arrow-right mx-1"></i>
                                        <span style="font-size: 14px;">{{ application.positionjobType | titlecase }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
