<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="single-blog-post">
            <div class="blog-image">
                <a routerLink="/blog-details"><img src="assets/img/blog1.jpg" alt="image"></a>
                <div class="post-tag">
                    <a routerLink="#">Technology</a>
                </div>
            </div>
            <div class="blog-post-content">
                <span class="date">25 Feb, 2020</span>
                <h3><a routerLink="/blog-details">The most popular new top business apps</a></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum printing typesetting.</p>
                <a routerLink="/blog-details" class="read-more-btn">Read More <i class="icofont-double-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="single-blog-post">
            <div class="blog-image">
                <a routerLink="/blog-details"><img src="assets/img/blog2.jpg" alt="image"></a>
                <div class="post-tag">
                    <a routerLink="#">Agency</a>
                </div>
            </div>
            <div class="blog-post-content">
                <span class="date">27 Feb, 2020</span>
                <h3><a routerLink="/blog-details">The best marketing top use management tools</a></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum printing typesetting.</p>
                <a routerLink="/blog-details" class="read-more-btn">Read More <i class="icofont-double-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="single-blog-post">
            <div class="blog-image">
                <a routerLink="/blog-details"><img src="assets/img/blog3.jpg" alt="image"></a>
                <div class="post-tag">
                    <a routerLink="#">IT</a>
                </div>
            </div>
            <div class="blog-post-content">
                <span class="date">28 Feb, 2020</span>
                <h3><a routerLink="/blog-details">3 wooCommerce plugins to boost sales</a></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum printing typesetting.</p>
                <a routerLink="/blog-details" class="read-more-btn">Read More <i class="icofont-double-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="single-blog-post">
            <div class="blog-image">
                <a routerLink="/blog-details"><img src="assets/img/blog4.jpg" alt="image"></a>
                <div class="post-tag">
                    <a routerLink="#">Creative</a>
                </div>
            </div>
            <div class="blog-post-content">
                <span class="date">29 Feb, 2020</span>
                <h3><a routerLink="/blog-details">Top 21 must-read blogs for creative agencies</a></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum printing typesetting.</p>
                <a routerLink="/blog-details" class="read-more-btn">Read More <i class="icofont-double-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="single-blog-post">
            <div class="blog-image">
                <a routerLink="/blog-details"><img src="assets/img/blog5.jpg" alt="image"></a>
                <div class="post-tag">
                    <a routerLink="#">IT</a>
                </div>
            </div>
            <div class="blog-post-content">
                <span class="date">28 Feb, 2020</span>
                <h3><a routerLink="/blog-details">The month in WordPress: January 2020</a></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum printing typesetting.</p>
                <a routerLink="/blog-details" class="read-more-btn">Read More <i class="icofont-double-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="single-blog-post">
            <div class="blog-image">
                <a routerLink="/blog-details"><img src="assets/img/blog6.jpg" alt="image"></a>
                <div class="post-tag">
                    <a routerLink="#">Creative</a>
                </div>
            </div>
            <div class="blog-post-content">
                <span class="date">29 Feb, 2020</span>
                <h3><a routerLink="/blog-details">A new way to earn money on WordPress.com</a></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum printing typesetting.</p>
                <a routerLink="/blog-details" class="read-more-btn">Read More <i class="icofont-double-right"></i></a>
            </div>
        </div>
    </div>
    
</div>