<div class="row">
    <div class="col-lg-6 col-md-6" *ngFor="let post of posts">
        <div class="single-blog-post">
            <div class="blog-post-content">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="date">
                        <i class="icofont-calendar"></i>
                        {{ post.date }}
                    </span>
                </div>
                <h3><a routerLink="/blog-details">{{ post.title }}</a></h3>
                <blockquote class="blockquote">
                    <p>
                        <span class="d-block mt-2 blockquote-footer"><cite title="Source Title">
                            {{ post.company }}
                        </cite>
                        </span>
                        <span style="font-size: 15px;">
                            <i class="icofont-google-map"></i>
                            {{ post.address }}
                        </span>
                    </p>
                </blockquote>
                <div class="d-flex justify-content-between align-items-center">
                    
                    <div class="post-tag">
                        <button class="btn btn-primary">Apply Now</button>
                    </div>
                    <span routerLink="/blog-details" class="read-more-btn">
                        {{ post.modality }}
                        <i class="icofont-double-right"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>