<section id="services" class="services-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>What We Do</span>
            <h2>Our <b class="text-dark">Services</b></h2>
            <p>
                Boost-BPO provides personalized service delivery, by understanding your success story, connecting with your pain points and providing specific value and benefits for your partnership. Boost-BPO offers the following:
            </p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <img src="assets/img/service-1.jpg" width="685" height="500" alt="image">
                        <div class="icon">
                            <i class="icofont-headphone-alt-3"></i>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>Customer Relationship</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <img src="assets/img/service-2.jpg" alt="image">
                        <div class="icon">
                            <i class="icofont-anchor"></i>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>Help Desk</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <img src="assets/img/service-3.jpg" alt="image">
                        <div class="icon">
                            <i class="icofont-puzzle"></i>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>Business Development</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <img src="assets/img/service-4.jpg" alt="image">
                        <div class="icon">
                            <i class="icofont-tools"></i>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>Quality Assurance</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <img src="assets/img/service-5.jpg" alt="image">
                        <div class="icon">
                            <i class="icofont-settings-alt"></i>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>Development</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <img src="assets/img/service-6.jpg" alt="image">
                        <div class="icon">
                            <i class="icofont-puzzle"></i>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>Apps Management & Networking</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>