<section class="blog-area ptb-100">
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12 mx-auto my-2">
                <app-form-filter [sector]="sector"></app-form-filter>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-3 col-md-12">
                <div class="sidebar">
                    <app-check-filter [options]="datePosted" title="date posted"></app-check-filter>
                    <app-check-filter [options]="jobType" title="job type"></app-check-filter>
                    <app-check-filter [options]="sector" title="sector"></app-check-filter>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <app-position-post></app-position-post>
                <app-pagination-area></app-pagination-area>
            </div>
        </div>
    </div>
</section>