<section class="blog-area ptb-100">
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12 mx-auto my-2">
                <app-form-filter [sectors]="sectors" [sector]="sector"></app-form-filter>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-lg-12 col-md-12 d-flex justify-content-between align-items-center">
                <span class="h5">
                    {{posts?.length}} {{posts.length > 1 ? 'Jobs': 'Job'}} Found
                </span>
                <a type="button" class="text-primary" (click)="sortByOlder()">
                    <i class="icofont-filter"></i>
                    Sort By Older
                </a>
                <a type="button" class="text-primary" (click)="sortByRecent()">
                    <i class="icofont-filter"></i>
                    Sort By Most Recent
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <div class="sidebar">
                    <app-check-filter [options]="datePosted" title="date posted"></app-check-filter>
                    <app-check-filter [options]="jobType" title="job type"></app-check-filter>
                    <app-check-filter [options]="sector" title="sector"></app-check-filter>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <app-alert [message]="alertService.message" (reset)="alertService.resetValues($event)"
                    [isVisible]="alertService.isVisible" [success]="alertService.successAlert"
                    [warning]="alertService.loadingAlert" [fail]="alertService.failAlert">
                </app-alert>
                <app-position-post (applyNow)="applyNow($event)"
                    [isAdmin]="isAdmin" [savedPosts]="posts">
                </app-position-post>
            </div>
        </div>
    </div>
</section>