<div class="main-banner item-bg5">
    <div id="particles-js"></div>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="main-banner-content text-center">
                    <span>We Are Boost</span>
                    <h1>The Best <b>BPO</b> Experience</h1>
                    <p>
                        Don't miss out on the opportunity to work hand in hand with a passionate and vibrant team committed to redefining the outsourcing experience.
                    </p>
                    <div class="btn-box">
                        <a href="#about" class="btn btn-primary">Join Us Now!</a>
                        <span>or</span>
                        <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube"><i class="icofont-ui-play"></i> Watch Video</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shapes/1.png" alt="shape1"></div>
    <div class="shape2 rotateme"><img src="assets/img/shapes/2.png" alt="shape2"></div>
    <div class="shape3 rotateme"><img src="assets/img/shapes/3.png" alt="shape3"></div>
    <div class="shape4"><img src="assets/img/shapes/4.png" alt="shape4"></div>
</div>
